<div class="object-overview">
    <div class="object-key">
        <a href="detail?object_key_hex={{object.key_hex}}&mon_name_hex={{mon_name_hex}}">{{object.key_txt}}</a>
    </div>
    <table class="table table-condensed table-hover">
        <tbody class="object-value">
            <tr>
                <td>raw</td>
                <td>{{object.val_txt}}</td>      
            </tr>
            <tr>
                <td>hex</td>
                <td>{{object.val_hex}}</td>
            </tr>
            <tr>
                <td>uint32</td>
                <td>{{object.val_uint32}}</td>
            </tr>
            <tr>
                <td>uint64</td>
                <td>{{object.val_uint64}}</td>
            </tr>
        </tbody>
    </table>
</div>